<html xmlns:th="http://www.thymeleaf.org">
 <head>
   <title>Admin Dashboard</title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <link rel="stylesheet" href="css/style.css" />
   <link rel="stylesheet" href="css/style.default.css" type="text/css" />
   <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
   <link rel="stylesheet" href="css/jquery.ui.css" type="text/css" />
   <link rel="stylesheet" href="css/jquery.dynatable.css" type="text/css" />
   <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
   <script type="text/javascript" src="js/jquery-ui-1.9.2.min.js"></script>
   <script type="text/javascript" src="js/bootstrap.min.js"></script>
   <script type="text/javascript" src="js/jquery.dynatable.js"></script>
   <script type="text/javascript">
   $(document).ready(function(){
	   $('.circle').each(function () {
		    $(this).prop('Counter',0).animate({
		        Counter: $(this).text()
		    }, {
		        duration: 1000,
		        easing: 'swing',
		        step: function (now) {
		            $(this).text(Math.ceil(now));
		        }
		    });
		});
	});
   </script>
   <script>
  $(function(){
    $("#dyntable").dynatable();
  })
  </script>
 </head>	
<body>
   <header class="head">
     <div class="logo">
	    <!-- <span class="logoTxt">Social CRM</span> -->
	    <img src="images/image.png" title="IntelliCRM" height="30" width="120" />
	</div>
   </header>
   
   <div id="midcontainer">
    <div class="pagetitle">
	    <h1>Admin Dashboard</h1>
	    <div class="floatright" style="padding-top:1em;padding-right:4em;">
	    	<img src="images/refresh.svg" title="Refresh All" height="20" width="20"></img></div>
    </div>
    <div>
		     <div class="cards">
				<span class="title">Tickets</span>
				<br clear="all"/>
				<div class="statcounts padleft">
					<div  style="text-align:center;"><div class="circle">71</div></div>
					<div>Bucket</div>
				</div>
				<div class="statcounts">
					<div  style="text-align:center;"><div class="circle">21</div></div>
					<div>Open</div>
				</div>
				<div class="statcounts">
					<div  style="text-align:center;"><div class="circle">22</div></div>
					<div>Assigned</div>
				</div>
			 </div>
		      <div class="cards">
				<span class="title">Sentiment</span>
				<br clear="all"/>
				<div class="statcounts padleft">
				<div style="text-align:center;"><div class="circle">7</div></div>
					<div>Facebook</div>
				</div>
				<div class="statcounts">
					<div  style="text-align:center;"><div class="circle">5</div></div>
					<div>Twitter</div>
				</div>
				<div class="statcounts">
					<div  style="text-align:center;"><div class="circle">8</div></div>
					<div>LinkenIn</div>
				</div>
			 </div>
			 <div class="cards">
				<span class="title">Leads</span>
				<br clear="all"/>
				<div class="statcounts padleft">
					<div  style="text-align:center;"><div class="circle">65</div></div>
					<div>Un-Assigned</div>
				</div>
				<div class="statcounts">
					<div  style="text-align:center;"><div class="circle">21</div></div>
					<div>Leads</div>
				</div>
				<div class="statcounts">
					<div  style="text-align:center;"><div class="circle">22</div></div>
					<div>Opportunities</div>
				</div>
			 </div>
	 </div>
	<div class="clear"></div>
	 <div class="cards" style="width:61%">
	   <div class="pagetitle">
	    <h1>IntelliSense Bucket</h1></div>
	    <table class="table table-bordered" id="dyntable">
											<thead>
												<tr>
													<th width="4%">Source</th>
													<th width="38%">Description</th>
													<th width="13%">Posted on</th>
													<th width="15%">Actions</th>
												</tr>
											</thead>
											<tbody>
											   <tr>
											   		<td><img src="images/fb.png"  title="facebook" height="30" width="30"/></td>
											   		<td>The dumpster Service is so bad in my area</td>
											   		<td>12-Oct15 17:35</td>
											   		<td>Test</td>
											   </tr>
											   <tr>
											   		<td><img src="images/linkedin.png"  title="facebook" height="30" width="30"/></td>
											   		<td>The cans are never kept back in their places</td>
											   		<td>12-Oct15 18:15</td>
											   		<td>Test</td>
											   </tr>
											   <tr>
											   		<td><img src="images/twit.png"  title="facebook" height="30" width="30"/></td>
											   		<td>What a pathetic service , grow up guys</td>
											   		<td>12-Oct15 19:31</td>
											   		<td>Test</td>
											   </tr>
											      <tr>
											   		<td><img src="images/fb.png"  title="facebook" height="20" width="20"/></td>
											   		<td>The dumpster Service is so bad in my area</td>
											   		<td>12-Oct15 17:35</td>
											   		<td>Test</td>
											   </tr>
											   <tr>
											   		<td><img src="images/linkedin.png"  title="facebook" height="20" width="20"/></td>
											   		<td>The cans are never kept back in their places</td>
											   		<td>12-Oct15 18:15</td>
											   		<td>Test</td>
											   </tr>
											   <tr>
											   		<td><img src="images/twit.png"  title="facebook" height="20" width="20"/></td>
											   		<td>What a pathetic service , grow up guys</td>
											   		<td>12-Oct15 19:31</td>
											   		<td>Test</td>
											   </tr>
											       <tr>
											   		<td><img src="images/fb.png"  title="facebook" height="20" width="20"/></td>
											   		<td>The dumpster Service is so bad in my area</td>
											   		<td>12-Oct15 17:35</td>
											   		<td>Test</td>
											   </tr>
											   <tr>
											   		<td><img src="images/linkedin.png"  title="facebook" height="20" width="20"/></td>
											   		<td>The cans are never kept back in their places</td>
											   		<td>12-Oct15 18:15</td>
											   		<td>Test</td>
											   </tr>
											   <tr>
											   		<td><img src="images/twit.png"  title="facebook" height="20" width="20"/></td>
											   		<td>What a pathetic service , grow up guys</td>
											   		<td>12-Oct15 19:31</td>
											   		<td>Test</td>
											   </tr>
											       <tr>
											   		<td><img src="images/fb.png"  title="facebook" height="20" width="20"/></td>
											   		<td>The dumpster Service is so bad in my area</td>
											   		<td>12-Oct15 17:35</td>
											   		<td>Test</td>
											   </tr>
											   <tr>
											   		<td><img src="images/linkedin.png"  title="facebook" height="20" width="20"/></td>
											   		<td>The cans are never kept back in their places</td>
											   		<td>12-Oct15 18:15</td>
											   		<td>Test</td>
											   </tr>
											   <tr>
											   		<td><img src="images/twit.png"  title="facebook" height="20" width="20"/></td>
											   		<td>What a pathetic service , grow up guys</td>
											   		<td>12-Oct15 19:31</td>
											   		<td>Test</td>
											   </tr>
											   
											</tbody>
		</table>
	 </div>
   </div>
 </body>
</html>